
<h1>Note List</h1>
<h1>{{userEmail}}</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" >Options</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/login">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/create/note/{{userEmail}}">Create Note</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/noteCollections/{{userEmail}}">Collections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/friendships/{{userEmail}}">Friendships</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/userInformation/{{userEmail}}">User Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col">Author</th>
        <th scope="col">Date</th>
        <th scope="col">Image</th>
        <th scope="col">Collection</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let note of notesFilter">
        <td>{{ note.title }}</td>
        <td>{{ note.body }}</td>
        <td>{{ note.author }}</td>
        <td>{{ note.date }}</td>
        <td>
          <div >
            <img src="{{note.image}}">
          </div>
        </td>
        <td>{{ note.collection }}</td>
        <td><button class="btn btn-success" routerLink="/edit/note/{{note.id}}/{{userEmail}}">Edit</button> |  <button *ngIf = "note.author == userEmail" class="btn btn-danger" (click)="deleteNote(note.id)" style="border:white 5px-solid;" >Delete</button> | <button *ngIf = "note.author == userEmail"  class="btn btn-info" (click)="share(note.id)" style="border:white 5px-solid;" >Share</button> </td>
      </tr>
      
    </tbody>
  </table>
  <form  *ngIf="shareForm" [formGroup]="shareForm">
    <div class="mb-3">
        <label for="useremail" class="form-label">Share with:</label>
        <select  type="email" class="form-control" id="useremail" placeholder="Enter an user email" formControlName="useremail">
          <option   value={{user.email}} *ngFor="let user of otherusers" > {{ user.email }}  </option>
        </select>
          
    </div>
  </form>
  <hr>
  <button class="btn btn-info" (click)="recharge()" >Refresh</button>
