<h1>Friends</h1>
<h1>{{userEmail}}</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" >Options</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/listNotes/{{userEmail}}">Back</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/friendrequests/{{userEmail}}">Friend Requests</a>
        </li>    
      </ul>
    </div>
  </div>
</nav>


<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let friend of friends">
        <td>{{ friend.name }}</td>
        <td>{{ friend.surname }}</td>
        <td>{{ friend.email }}</td>
        <td><button class="btn btn-danger" (click)="deleteFriendship(friend.email)" style="border:white 5px-solid;" >Delete</button> </td>
      </tr>
      
    </tbody>
  <hr>
  <button class="btn btn-info" (click)="recharge()" >Refresh</button>
