<h1>Note Collections</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" >Options</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/adminMenu">Back</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<form  *ngIf="collectionForm" [formGroup]="collectionForm">
    <div class="mb-3">
        <label for="collection" class="form-label">Collection</label>
        <select  (click)="NoteListCollection()" type="text" class="form-control" id="collection" formControlName="collection">
          <option value="{{collection}}" *ngFor="let collection of collections" > {{ collection }}  </option>
        </select>
          
    </div>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col">Author</th>
        <th scope="col">Date</th>
        <th scope="col">Image</th>
        <th scope="col">Collection</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let note of notesCollection">
        <td>{{ note.title }}</td>
        <td>{{ note.body }}</td>
        <td>{{ note.author }}</td>
        <td>{{ note.date }}</td>
        <td>
          <div >
            <img src="{{note.image}}">
          </div>
        </td>
        <td>{{ note.collection }}</td>
      </tr>
      
    </tbody>
  </table>
