/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

// Establecemos el background del body con el color azul definido
body {
    
    background: url("https://mdbootstrap.com/img/Photos/Others/architecture.webp")no-repeat center center;
    background-size: cover;
    background-color: #468294 !important;
    background: transparent !important;
    background: #468294 !important;
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    
    

    

    
}


