<div class="containter mt-5">
    <div class="row">
        <div class ="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <button class="btn btn-success float-end" style=" border-color: white; color: white ;background-color:#e8502a; font-size: 15px;" routerLink="/login" >SIGN OUT</button>
                    <table class="table table-striped mt-4">
                        <button class="btn btn-success float-mid" style=" border-color: white; color: white ;background-color:#2a76e8; font-size: 30px; margin-right: 50px;" routerLink="/listUsers">USERS</button>
                        <button class="btn btn-success float-mid" style=" border-color: white; color: white ;background-color:#2a76e8; font-size: 30px; margin-right: 50px;" routerLink="/listNotesAdmin">NOTES</button>
                        <button class="btn btn-success float-mid" style=" border-color: white; color: white ;background-color:#2a76e8; font-size: 30px; margin-right: 50px;" routerLink="/noteCollectionsadmin">COLLECTIONS</button>
                        <button class="btn btn-success float-mid" style=" border-color: white; color: white ;background-color:#2a76e8; font-size: 30px; margin-right: 50px;" routerLink="/friendshipsadmin">RELATIONSHIPS</button>
                    </table>
                </div>
            </div>
        </div>
    </div>




</div>
